---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageDescriber from '../components/PageDescriber.astro';
---

<BaseLayout title="Statement of Beliefs - JESUS ALONE IS GOD CHURCH OF EUROPE">
  <main role="main" class="container position-main">
    <PageDescriber title="Statement of Beliefs" />
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">What We Believe</h5>
        <ul>
          <li>We believe in the oneness of God</li>
          <li>We believe Jesus Christ is the manifestation of God in the flesh</li>
          <li>We believe in salvation through baptism in the name of Jesus Christ</li>
          <li>We believe in the infilling of the Holy Spirit</li>
          <li>We believe in living a holy life separated unto God</li>
        </ul>
      </div>
    </div>
  </main>
</BaseLayout>
